*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: antiquewhite;
    min-height: 100vh;
    border: 12px solid black;
    clip-path: polygon(0 0,100% 0,100% 100% ,70% 87%, 0 100% );
}
.content{
    max-width: 700px;
    margin: 0 auto;
}
.top_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_container img{
    
    height: 200px;
    width: 200px;
    
}
.apj_name {
    margin: 50px 40px;
    padding:  70px 10px;
}
.apj_name h2{
    font-weight: 500;
    color: rgb(115, 115, 48);
}
